ion-content {
  font-family: "Baloo 2", cursive;
  font-size: 1rem;
  background: #f8f8f8 !important;
}

ion-list {
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px #9dece0;
  border-radius: 15px;
  align-content: center;
  margin: 11% auto;
}

ion-label.login-container-logo {
  width: 20%;
  margin-top: -1em;
  display: flex;
  justify-content: center;
}

ion-label.login-title {
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 1em;
}

img {
  width: 4.2em;
}

form.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

ion-label.login-container-label {
  margin-top: 0.7em;
  background: #f7f7f8;
  border: solid 1px #888bae;
  border-radius: 0.7em;
  --color: var(--ion-color-primary);
  box-shadow: 0px 0px 7px rgb(0 0 0 / 19%);
  font-family: "Baloo 2", cursive;
  font-weight: 400;
  --placeholder-color: var(--ion-color-primary-tint);
  --placeholder-font-style: "Baloo 2", cursive;
  --padding-start: 0.9em;
  width: 80%;
  height: 20.5%;
}

.label-email,
.label-password {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

ion-input {
  font-family: "Baloo 2", cursive;
  font-weight: 400;
  --placeholder-color: var(--ion-color-primary-tint);
  --placeholder-font-style: "Baloo 2", cursive;
  --padding-start: 0.9em;
  height: 80%;
}

ion-icon.icon-inputs {
  color: #483794;
}

ion-note.login-message-error-form {
  text-align: center;
  padding-top: 1em;
  width: 85%;
  transition: all 500ms ease-in-out 0s;
  color: var(--ion-color-danger);
}

ion-label.login-container-button {
  margin-top: 0.9em;
  width: 80%;
}

ion-button.login-button {
  font-family: "Baloo 2", cursive;
  font-size: 1em;
  width: 100%;
  text-transform: capitalize;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 19%), -1px 2px 5px #070b396e;
}

ion-label.login-label-forgot-password {
  margin-top: 0.5em;

  ion-text {
    font-size: 0.9em;
    color: #20c3ab;
  }
}

ion-label.login-label-register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.2em;

  ion-text {
    color: #6a6c7a;
    font-size: 1em;
  }

  ion-button {
    margin-left: -0.5em;
    font-size: 1em;
    font-weight: 500;
    font-family: "Baloo 2", cursive;
  }
}
