<ion-app>
  <ion-split-pane contentId="menu-content">
    <!--  the side menu  -->
    <ion-menu contentId="menu-content" menuId="menu-content" side="start">
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <ion-label class="ion-text-center">Home</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/crud">
            <ion-label class="ion-text-center">Crud</ion-label>
          </ion-item>
        </ion-menu-toggle>
  
        <ion-menu-toggle>
          <ion-item routerLink="/login">
            <ion-label class="ion-text-center">Login</ion-label>
          </ion-item>
        </ion-menu-toggle>
  
        <ion-menu-toggle>
          <ion-item routerLink="/register">
            <ion-label class="ion-text-center">Register</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-title> </ion-title>
        <ion-buttons class="ion-padding-end" slot="end">
          <ion-button
            fill="solid"
            class="menu-button-logout ion-text-capitalize"
            
          >
            logout
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  
    <!-- the main content -->
    <!-- <ion-router-outlet id="menu-content"></ion-router-outlet> -->
    <ion-router-outlet id="menu-content" ></ion-router-outlet>
  </ion-split-pane>
</ion-app>
