ion-list {
    margin-top: 3em;
    height: 40vh;
  }
  
  ion-button.menu-button-logout {
    --background: #5821df;
    --color: white;
    --border-radius: 0.5em;
    text-transform: capitalize;
  }
  