<ion-content>
  <ion-list>
    <ion-label class="register-container-logo">
      <img src="../assets/images/logoProto.svg" />
    </ion-label>
    <ion-label class="register-title" color="primary">Create your account</ion-label>
    <ion-label class="register-container-label">
      <ion-input placeholder="Name"></ion-input>
    </ion-label>
    <ion-label class="register-container-label">
      <ion-input placeholder="Email"></ion-input>
    </ion-label>
    <ion-label class="register-container-label">
      <ion-input placeholder="Password"></ion-input>
    </ion-label>

    <ion-label class="register-container-button ion-align-items-center">
      <ion-button class="ion-align-items-center register-button" fill="solid">Register</ion-button>
    </ion-label>

    <ion-label class="register-label-login">
      <ion-text color="secondary">Log in</ion-text>
      <p>if you have an account</p>
    </ion-label>

  </ion-list>
</ion-content>
