<ion-menu
  [disabled]="!isLogged"
  contentId="menu-content"
  menuId="menu-content"
  side="start"
>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item>
          <ion-icon class="ion-padding-end"
            *ngIf="!user.profilePhoto"
            name="person-circle-outline"
          ></ion-icon>
          <ion-avatar  *ngIf="user.profilePhoto" slot="start">
            <img [src]="user.profilePhoto" />
          </ion-avatar>
          <ion-label>{{ user.email }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/home">
          <ion-label class="menu-label">
            <ion-icon
              class="menu ion-padding-end"
              slot="icon-only"
              name="Home"
            ></ion-icon>
            Home
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item *ngIf="user.profile === 'admin'" routerLink="/users">
          <ion-label class="menu-label">
            <ion-icon
              class="menu ion-padding-end"
              slot="icon-only"
              name="people"
            ></ion-icon>
            Users</ion-label
          >
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-title> </ion-title>
      <ion-buttons class="ion-padding-end" slot="end">
        <ion-button
          fill="solid"
          class="menu-button-logout ion-text-capitalize"
          (click)="logOut()"
        >
          logout
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
