<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title> Blank </ion-title>

    <ion-buttons slot="start">
          <ion-menu-button menu="menu-content"></ion-menu-button>
    </ion-buttons>

    <!-- <ion-buttons slot="start">
      <ion-menu-button menu="menu-content" color="tertiary"></ion-menu-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!-- <app-menu menuId="menu-content"></app-menu> -->

  <div id="container">
    <strong>Ready to create an app?</strong>

    <ion-label> </ion-label>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-content>
